*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    scroll-behavior: smooth;
}

/*  SCROLL TO TOP */

.to-top {
    background: #FDB515;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

/***********/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8hv;
    background-color: #101046;
    font-family: 'Poppins', sans-serif;
}

.logo {
    text-align: center;
    padding: 10px;
}

.logo h3{
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;
    padding: 10px;
}

.logo h4{
    color: white;
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 10px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 62%;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li {
    list-style: none;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;

}



@media screen and (max-width:1024px){
    body{overflow-x: hidden;}
    .nav-links{
        position: absolute;
        z-index:999;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #101046;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }
    
    .burger{
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);  
}

/* ABOUT ME SECTION */

.about{
    padding: 30px;
    padding-left: 70px;
    font-family: 'Poppins', sans-serif;
}

.about .title{
    position: relative;
    font-size: 40px;
    padding-top: 30px;
    margin-bottom: 70px;
    font-family: 'Ubuntu', sans-serif;
}

.about .title::after{
    content: "";
    position: absolute;
    margin: 0px;
    bottom: -7px;
    left: 0px;
    width: 200px;
    height: 4px;
    background-color: black;
}


.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    padding: 20px;
    width: 45%;
}

.about .about-content .left img{
    height: 600px;
    object-fit: cover;
    padding-left: 85px;

}

.about .about-content .right{
    width: 55%;
    padding: 20px;
    text-align: left;
    text-overflow: clip;
}


.about .about-content .right p{
    text-align: justify;
    font-size: 26px;
    font-weight: 500;
    padding: 30px;
    padding-right: 50px;

}

.about .about-content .column{
    width: 50%;
    text-align: center;
}

@media (max-width:1150px){
    .about .about-content .left img{
        height: 520px;
        object-fit: cover;
        padding-left: 65px;
    
    }
    .about .about-content .right p{
        text-align: justify;
        font-size: 20px;
        font-weight: 500;
        padding: 20px;
        margin-bottom: 10px;
        margin-right: 30px;
    
    }
}



@media (max-width:1024px){

    .about {
        padding: 30px;
        font-family: 'Poppins', sans-serif;
    }


    .about .about-content .column{
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    
    }

    .about .about-content .left img{
        height: 600px;
        object-fit: cover;
        padding: 20px;
    
    }
    .about .about-content .right {
        text-align: center;
        text-overflow: clip;
        flex: 100%;
        padding-top: 0px;
    }

    .about .about-content .right p{
        text-align: justify;
        margin-bottom: 0px;
        margin-right: 0px;
    
    }
}


/* PUBLICATIONS SECTION */

.publications{
    padding: 30px;
    padding-left: 70px;
    font-family: 'Poppins', sans-serif;
}

.publications .title{
    position: relative;
    font-size: 40px;
    padding-top: 30px;
    margin-bottom: 70px;
    font-family: 'Ubuntu', sans-serif;
}

.publications .title::after{
    content: "";
    position: absolute;
    margin: 0px;
    bottom: -7px;
    left: 0px;
    width: 245px;
    height: 4px;
    background-color: black;
}


.publications .publications-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 40px;
}

@media (max-width:1024px){

    .publications {
        padding: 30px;
        font-family: 'Poppins', sans-serif;
    }
}

/* ACADEMİC KNOWLEDGE PART */

.academic-row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.academic-row .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #101046;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: left;
    padding-top: 70px;
    padding-bottom: 70px;
}

.academic-row .row h3 {
    font-size: 30px;
    padding: 10px;
}

.academic-row .row li {
    font-size: 16px;
    padding: 0px;
    margin-bottom: 20px;
}

.academic-row .row li .institution {
    font-size: 12px;
}

.academic-row .row  ul {
    padding-left: 50px;
}


@media (max-width:1024px){
    .academic-row .row {
        display:grid;
        justify-content: space-around;
        align-items: center;
        background-color: #101046;
        font-family: 'Poppins', sans-serif;
        color: white;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .academic-row .row  ul {
        padding-left: 0px;

    }

    .academic-row .row .education {
        padding-top: 50px;

    }
}


/* PRESENTATIONS SECTION */

.presentations{
    padding: 30px;
    padding-left: 70px;
    font-family: 'Poppins', sans-serif;
}

.presentations .title{
    position: relative;
    font-size: 40px;
    padding-top: 30px;
    margin-bottom: 70px;
    font-family: 'Ubuntu', sans-serif;
}

.presentations .title::after{
    content: "";
    position: absolute;
    margin: 0px;
    bottom: -7px;
    left: 0px;
    width: 275px;
    height: 4px;
    background-color: black;
}


.presentations .presentations-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 40px;
}

@media (max-width:1024px){

    .presentations {
        padding: 30px;
        font-family: 'Poppins', sans-serif;
    }
}

/* CONTACT SECTION */

.contact{
    padding: 30px;
    padding-bottom: 0px;
    padding-left: 70px;
    padding-right: 110px;
    font-family: 'Poppins', sans-serif;
}

.contact .title{
    position: relative;
    font-size: 40px;
    padding-top: 30px;
    margin-bottom: 70px;
    font-family: 'Ubuntu', sans-serif;
}

.contact .title::after{
    content: "";
    position: absolute;
    margin: 0px;
    bottom: -7px;
    left: 0px;
    width: 160px;
    height: 4px;
    background-color: black;
}


.contact .firstpart{
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.contact .firstpart .info {
    font-size: 26px;
}

.contact .firstpart .info .p2{
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact .firstpart .info .p3{
    margin-top: 100px;
}

.contact .firstpart .info .e-mail{
    display: inline-flex;
    place-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;

}

.contact .firstpart .info .e-mail i{
    padding-left: 10px;
}

.contact .firstpart .info .e-mail p{
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
}

.contact .firstpart .left {
    text-align: right;
}

.contact .firstpart .left img{
    height: 600px;
}

.contact .firstpart .info .description {
    display: flex;
    font-size: 20px;
}


@media (max-width:1024px){

    .contact {
        padding: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .contact .firstpart{
        display: grid;
        font-family: 'Poppins', sans-serif;
        text-align: justify;
        text-overflow: clip;
        object-fit: cover;
        align-items: center;
        font-size: 15px;
        width: 100%;
    }

    .contact .firstpart .left{
        display: inline-grid;
        align-items: center;
        justify-content: center;
    }

    .contact .firstpart .left img{
        height: 400px;
        justify-content: center;
    }
}

/* LINKS IN CONTACT SECTION */

.contact .secondpart .title{
    position: relative;
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.contact .secondpart .title::after{
    content: "";
    position: absolute;
    margin: 0px;
    bottom: -7px;
    left: 0px;
    width: 200px;
    height: 3px;
    background-color: black;
}

.wrapper{
    display:flex;
    justify-content: center;
    height: 100%;
    width:100%;
    place-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 15px 15px rgb(117, 113, 113);
    transition: all 0.3s ease-out;
    margin: 100px;
}

.wrapper .button:hover{
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}

.wrapper .button:nth-child(1):hover .icon  {
    background-color: #0072b1;
}

.wrapper .button:nth-child(2):hover .icon  {
    background-color: black;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: white;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

@media (max-width:1024px){
    .wrapper{
        display:grid;
        height: 100%;
        width:100%;
    }
}

/* BELL SECTION */

.bell{
    display:flex;
    height: 100%;
    width:100%;
    place-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.bell hr {
    position: relative;
    top: 20px;
    border: none;
    height: 4px;
    width: 700px;
    background: black;
    margin-bottom: 50px;
}


.bell hr img {
    height: 352px;
}

.bell .image .link {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width:1024px){
    .bell hr {
        display: none;
    }

    .bell img {
        height: 300px;
    }

    .bell .image .link {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* FOOTER SECTION */


.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    color: white;
    background-color: #101046;
    font-family: 'Poppins', sans-serif;
}

.footer .middle {
    justify-items: center;
}

.footer .logo img{
    height: 100px;
}

@media (max-width:877px){
    .footer {
        display: grid;
    }
}
